#menubar { background: olive;}
#menubar ul {
  margin : 0;
  padding : 0;
  width : 567px;
}
#menubar ul li {
  display : inline-block; /* 새줄로 넘어가지 않게 */
  list-style-type : none; /* 마커 삭제 */
  padding : 0px 15px; /* top=bottom=0, left=right=15px */
}
#menubar ul li a {
  color : white;
  text-decoration: none; /* 링크 보이지 않게 */
}
#menubar ul li a:hover {
  color : violet; /* 마우스 올라 갈때  색 */
}
